<template name="student_register">
    <section>
        <h2>{{student_name}}</h2>
        <form class="" action="index.html" method="post">
            <div class="input-field">
                <input id="profileLink" type="text" name="profileLink" value="{{profileLink}}"><label for="profileLink">Portfolio link <em>{{profileLink}}</em></label>
            </div>
            <div class="input-field">
                <input id="linkedInLink" type="text" name="linkedInLink" value="{{linkedInLink}}"><label for="linkedInLink">LinkedIn profile<em></em></label>
            </div>
        </form>
        {{> skills_selector}}
        <form id="saveBlurb" class="" action="index.html" method="post">
            <textarea name="name" rows="8" cols="80">{{blurb}}</textarea>
            <input type="submit" class="btn" name="" value="Save changes">
        </form>
        <form class="" action="index.html" method="post">
            <!-- image upload -->
        </form>
        <form class="" action="index.html" method="post">
            <input type="submit" class="btn" name="" value="Go To My Dashboard">
        </form>
    </section>
</template>
