<template name="projects">
    <section>
        {{#if projects}}
        <section>
        <h3>Existing projects</h3>
        {{> existingProjects}}
        </section>
        {{/if}}
        <!-- {{> expiredProjects}} -->
        {{> addProject}}
    </section>
</template>

<template name="existingProjects">
        <ol>
            {{#each projects}}
            <h4>Project Title: {{project_name}}</h4>
            <dl>
                <dt>Description:</dt>
                <dd>{{project_desc}}</dd>
                <dt>Date added:</dt>
                <dd>{{date_added}}</dd>
                <dt>Expiration date:</dt>
                <dd>{{date_expiry}}</dd>
                <!-- <dt>User Ids:</dt>
                {{#each applied}}
                <dd>{{this}}</dd>
                {{/each}} -->
                <!-- {{#if students}} -->
                    <dt>Students applied:</dt>
                    {{#each students}}
                        <dd>Student: {{username}}</dd>
                    {{/each}}
                <!-- {{/if}} -->
            </dl>
            {{/each}}
        </ol>
</template>

<template name="addProject">
    <section>
        <h3>Add new project</h3>
        <form class="addProjectSubmit" >
            <input type="text" name="projectName" placeholder="Project Title">
            <input type="text" name="projectDesc" placeholder="Description">
            <input type="date" name="expDate" placeholder="Expiration date">
            <input type="submit" value="Add Project">
        </form>
    </section>
</template>
