<template name="student_register">
    <section>
        <h2>Student Registration</h2>
        <form class="" action="index.html" method="post">
            <label for="">Portfolio link:</label><input type="text" name="" value="">
            <label for="">LinkedIn:</label><input type="text" name="" value="">
            <input type="submit" name="next" value="Submit">
        </form>
        <div class="panel-group">
          <div class="panel panel-default">
        <form class="skills" action="index.html" method="post">
            <ul>
                {{#each parent_skills}}
                    <li>
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <span data-toggle="collapse" href="#collapse{{id}}">{{skill_name}}</span>
                        </h4>
                      </div>
                      <div id="collapse{{id}}" class="panel-collapse collapse">
                        <ul class="list-group">
                            {{#each child_skills}}
                                <li class="list-group-item">
                                    <input id="{{id}}" type="checkbox" name="" class="toggle-checked" value=""><label for="{{id}}">{{skill_name}}</label>
                                </li>
                            {{/each}}
                        </ul>
                      </div>
                    </li>
                {{/each}}
            </ul>
        </form>
      </div>
      </div>

        <!-- skills form -->







        <!-- <ul>
        {{#each project in projects}}
            <li>
                {{project.project_name}}
                <form class="applyProjectSubmit" action="index.html" method="post">
                    <input type="submit" name="project" value="{{project._id}}">
                </form>
            </li>
        {{/each}}
        </ul> -->
    </section>
</template>
