<template name="student_register">
    <section>
        <h2>Student Registration</h2>
        <form class="" action="index.html" method="post">
            <label for="">Portfolio link:</label><input type="text" name="" value="">
            <label for="">LinkedIn:</label><input type="text" name="" value="">
            <input type="submit" name="next" value="Submit">
        </form>
        <form class="skills" action="index.html" method="post">
            <ul class="collapsible" data-collapsible="accordion">
                {{#each parent_skills}}
                    <li>

                      <div class="collapsible-header">
                          <span class="material-icons">{{skill_name}}</span>
                      </div>
                      <div id="" class="collapsible-body">
                        <p>{{skill_name}}</p>

                        <ul>
                            {{#each child_skills}}
                                <li>
                                    <input type="checkbox" name="" value=""><label for="">{{skill_name}}</label>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </form>

        <!-- skills form -->







        <!-- <ul>
        {{#each project in projects}}
            <li>
                {{project.project_name}}
                <form class="applyProjectSubmit" action="index.html" method="post">
                    <input type="submit" name="project" value="{{project._id}}">
                </form>
            </li>
        {{/each}}
        </ul> -->
    </section>
</template>
