<template name="applicants">
    <section>
        <form class="skills-selector" action="index.html" method="post">
            <h4>Applicants</h4>
            <ul>
                {{#each applicants}}
                <li>
                    <div class="chip">
                        <!-- <img src="images/yuna.jpg" alt="Contact Person"> -->
                        {{#with applicant}}
                        {{> applicant_pic}}
                        <a href="#">{{profile.firstname}} {{profile.lastname}}</a>
                        {{/with}}
                        <!-- <i class="close material-icons">close</i> -->
                    </div>
                </li>
                {{/each}}
            </ul>
        </form>
    </section>
</template>
