<body>
    <!-- <div class="z-depth-0 nav-wrapper">
    <div class="row navigation">
    <a href="#" class="brand-logo logo">REFRACT</a>
    {{#if isLoggedIn}}
    <form class="logout">
    <input class="btn" type="submit" name="logout" value="logout">
</form>
{{/if}}
</div>
</div> -->
<div class="row">
    <div class="col s12">
        {{#if isLoggedIn}}
        {{> dash}}
        {{else}}
        <style media="screen">
        .at-form > .at-pwd-form .row:nth-of-type(3) {
            width: 20%;
        }
        .at-btn{
            width: 20%;
        }
        </style>
        {{> atForm}}
        {{/if}}
    </div>
</div>

</body>
