<template name="dash">
    <main>
        <!-- {{#if isOrg}}
        {{> organization}}
        {{/if}}
        {{#if isStudent}} -->
        <!-- {{> profile}} -->
        {{> project_space}}
    </main>
    {{> dash_nav}}
</template>

<template name="dash_nav">
  <div class="side-nav-fixtop">
      <div style="position:fixed;top:0;">
        <h6 class="logo">REFRACT</h6>
      </div>
    <div id="slide-out" class="side-nav fixed  z-depth-0">
        <div id="">
            <ul>
                <!-- {{#if has_projects}} -->
                <li><a data-action="link" data-template="list_projects" data-search-type="" href="#">All Projects</a></li>
                <li><a data-action="link" data-template="list_projects" data-search-type="created" href="#">Created</a></li>
                <li><a style="text-decoration: line-through;" data-action="link" data-template="list_projects" data-search-type="applied" href="#">Applied</a></li>
                <li><a style="text-decoration: line-through;" data-action="link" data-template="list_projects" data-search-type="saved" href="#">Saved</a></li>
                <!-- {{else}} -->
                <!-- <h4>You have not created any projects yet!!!!!</h4> -->
                <!-- {{/if}} -->



                <!-- {{#if isStudent}} -->
                <li><a data-action="link" data-template="profile" data-search-type="saved" href="#">Profile</a></li>

            </ul>
            <ul>
            </ul>
        </div>
    </div>
    <div class="side-nav-fixdown">
      <form class="" id="new_project" action="index.html" method="post">
          <input type="submit" class="btn" name="new_project" value="CREATE NEW PROJECT!">
      </form>
    </div>
  </div>
</template>
