<template name="uploadForm">
  <div class="file-field input-field">
      <div class="btn">
        <span>Upload Image</span>
        <input type="file" id="fileInput">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
</template>

<template name="uploadedFiles">
    {{#if hasImage}}
    <div class="circle z-depth-2" style="height:200px;width:200px;background-image:url('{{imageFile.link}}');background-size: cover;margin-top: -3.3em;overflow: hidden;margin:auto"></div>
    {{else}}
    <img class="propic circle" src="/defaultpic.png" alt="" />
    {{/if}}
</template>

<template name="profile_view_pic">
    <div class="circle z-depth-2" style="height:200px;width:200px;background-image:url('{{pic}}');background-size: cover;margin-top: -3.3em;overflow: hidden;margin:auto"></div>
    <!-- <img src="{{pic}}" alt=""> -->
</template>

<template name="profile_pic">
  <div class="circle z-depth-2" style="height:35px;width:35px;background-image:url('{{pic}}');background-size: cover;margin-top: -3.3em;overflow: hidden;"></div>
</template>

<template name="applicant_pic">
    <img src="{{pic}}" alt="">
</template>
