<template name="profile">
  <div class="container sizer">
    <div class="row">
        <div class="col s12">
          {{> uploadedFiles}}
          {{#with user}}
          <h3 class="center-align">{{firstname}} {{lastname}}</h3>
          {{/with}}
        </div>
    </div>
    <div class="row">
      <div class="col s12 m6">

      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <!-- {{> uploadedFiles}} -->
        {{#with user}}
        <!-- {{> uploadForm}} -->
        <figure>
          <!-- <img style="max-width: 300px;" src="default.JPG" alt=""> -->
        </figure>
        <h4>Bio</h4>
        <form id="saveBlurb" class="" action="index.html" method="post">
          <textarea placeholder="bio" name="name" rows="8" cols="80">{{blurb}}</textarea>
        </form>
        <form class="" action="index.html" method="post">
          <div class="input-field">
            <input id="profileLink" type="text" name="profileLink" value="{{profileLink}}">
            <label for="profileLink">Portfolio link
              <em>{{profileLink}}</em>
            </label>
          </div>
          <div class="input-field">
            <input id="linkedInLink" type="text" name="linkedInLink" value="{{linkedInLink}}">
            <label for="linkedInLink">LinkedIn profile<em></em>
            </label>
          </div>
        </form>
        {{/with}}
        <form class="view-profile">
          <input class="btn" type="submit" name="view-profile" value="View Profile">
        </form>
      </div>
      <div class="col s12 m6 ">
        <h4>Skills</h4>
        {{> skills_selector}}
        {{> logout}}
      </div>
      <!-- <a class="waves-effect waves-light btn" href="{{profileLink}}" target="_blank">Portfolio</a>
      <a class="waves-effect waves-light btn" href="mailto:{{student_email}}">Contact</a> -->
    </div>
  </div>
</template>
