<template name="profile_view">
    <div class="container">
        <div class="row">
            <div class="col s12">
            </div>
        </div>
        {{#with selected_user}}
        <figure>
            {{> uploadedFiles}}
        </figure>
        <h3>{{firstname}} {{lastname}}</h3>
        <h4><a href="{{profileLink}}">Personal Webpage</a></h4>
        <h4><a href="{{linkedInLink}}">LinkedIn</a></h4>
        <h4>Skills</h4>
        <ul>
            {{#each skills}}
            <li><div class="chip">
                {{skill_name}}
            </div></li>
            {{/each}}
        </ul>
        <h4>Blurb</h4>
        <p>{{blurb}}</p>
        {{#if isOwner}}
        <form class="edit-profile">
            <input class="btn" type="submit" name="edit-profile" value="Edit Profile">
        </form>
        {{> logout}}
        {{/if}}
        <!-- {{> skills_selector}} -->
        <!-- </section> -->
        {{/with}}
    </div>
</template>
