
<template name="project_edit">
  <div class="container">
    {{#with open_project}}
    <div class="row">
        <div class="col s12 m8">
            <!-- <h3>PROJECT EDIT</h3> -->
            <h4>Project title</h4>
            <input type="text" id="project_name_edit" name="project_name_edit" value="{{project_name}}">
            <h4>Description</h4>
            <textarea id="project_desc_edit" name="name" rows="8" cols="80">{{project_desc}}</textarea>
            <h4>Application Due Date</h4>
            <input id="expiry_date_edit" type="date" value="{{date date_expiry}}">
            <h4>Estimated Hours</h4>
            <input id="hours" type="hours" value="{{est_hours}}" />
        </div>
        {{> project_skills}}
    </div>
    <div class="row">
        <div class="col offset-s8z s12">
            <form class="" id="launch_project" action="index.html" method="post">
                <input type="submit" class="btn" name="launch_project" value="Launch project">
            </form>
        </div>
    </div>
    {{> applicants}}
    {{/with}}
    </div>
</template>

<template name="project_skills">
    <div class="col s12 m4">
        <h4>Skills</h4>
        <form class="" action="index.html" method="post">
            <ul class="collapsible" data-collapsible="accordion">
                {{#each parent_skills}}
                <li>
                    <div class="collapsible-header">
                        <span class="">{{skill_name}}</span>
                    </div>
                    <div id="" class="collapsible-body">
                        <ul>
                            {{#each child_skills}}
                            <li>
                                <input class="proj-skill-input" id="B_{{_id}}" type="checkbox" name="" value="" checked="{{checked}}"><label for="B_{{_id}}">{{skill_name}}</label>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </form>
    </div>
</template>
