<template name="project_space">
    <!-- {{projects_list}} -->
    <!-- {{> list_projects}} -->

    {{> Template.dynamic template=template_loaded}}
    <!--
    if project selected
    if project owner
    {{> project_edit}}
    else
    {{> project_view}}
    else
    if profile created
    if student
    {{> project_search}}
    else
    {{> pretend project?}}
    else
    {{> profile_editor}} (student register)
    -->
</template>

<template name="list_projects">
    <ul>
        {{#each list_projects}}
        <li data-action="link" data-template="project_full" style="border: solid 1px;"><a href="#"><h3>{{project_name}}{{#if isProjectOwner}}***{{/if}}</h3></a></li>
        <!-- <li>

        </li> -->
        {{/each}}
    </ul>
</template>

<template name="project_full">
    <section>
        {{#with open_project}}
        {{#if isProjectOwner}}
        {{> project_edit}}
        {{else}}
        {{> project_view}}
        {{/if}}
        {{/with}}
    </section>
</template>
