@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,400i,700i,900|Roboto:300,400');

/*------------------VARIABLES ------------------*/
:root{
  /*Colors*/
  --color-pink: #e91e63;
  --color-blue: #6cdfea;
  --color-gray: #554b49;
  /*fonts*/
  --fonts-mont: "Montserrat", sans-serif;
  --font-rob: 'Roboto', sans-serif;
}
/*#6cdfea  rgba(108,223,234,1)
#e91e63   rgba(233,30,99,1)
#554b49    rgba(85, 75, 73, 1)
*/
body{
  font-family: var(--font-rob);
  font-weight: 300;
}
 main {
     padding-left: 300px;
 }
 h2{
   font-family: var(--fonts-mont);
   font-weight: 700;
   margin: auto;
   text-align: center;
 }
 .message{
   margin:auto;
 }

.nav-wrapper{
   height: 63px;
   box-shadow: transparent !important;
   background-color: white;
   border-bottom: 1px solid var(--color-pink);
   }
.logo{
    /*opacity: 0;*/
  /*position: absolute;*/
  /*padding-left: 30px;*/
  font-family: var(--fonts-mont);;
  font-weight: 300i;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  color: #554b49;
  animation: 0.5s ease-out 0.5s logo-in;
  transition: letter-spacing 0.5s;
}
.side-nav-fixtop:hover .logo {
    letter-spacing: 0em;
}
@keyframes logo-in {
    0% {
        letter-spacing: -0.7em;
        opacity: 0;
    }
    100% {
        letter-spacing: 0.5em;
        opacity: 1;
    }
}

.btn{
  color: #554b49;
  background-color: white;
  border: 1px solid var(--color-pink);
}
.btn:hover{
  color: white;
  background-color: var(--color-pink);
}
.btn:focus{
  background-color: var(--color-pink);
}

h4{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #554b49;
  }

  .logout{
    float: right;
    padding-right: 30px;
  }
    /* label focus color */
    .input-field input[type=text]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 var(--color-blue);
    }

    /* label focus color */
    .input-field input[type=email]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=email]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 #6cdfea;
    }
    /* label focus color */
    .input-field input[type=password]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=password]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 var(--color-blue);
    }

/*SIDE NAV CRAZYNESS--------------------------------------------*/


.side-nav {
   top: 45px;
   height: calc(100% - 81px);
   background-color: transparent;
   /*color: white;*/
}
.side-nav-fixtop{
  background-color: white;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-left: 30px;
  border-right: 1px solid black;
}
.side-nav-fixdown{
  background-color: white;
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-right: 1px solid black;
}

/*Sign in form-------------------------------------------------------------------*/
.sign-page{
  margin: auto;
  /*max-width: 1000px;*/

}
.at-form{
  max-width: 400px;
  margin:auto;
  padding-top: 70px;
}
.header{
  display: none;
}

.at-btn{
  min-width: 400px !important;
  margin: 0px;
}
.at-signup-link{
  margin: auto;
}
.at-input:nth-of-type(n+2 ){
  display: inline;
}
.at-link{
  font-weight: 400;
}
