@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700i,900|Roboto:300,400');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*------------------VARIABLES ------------------*/
:root{
  /*Colors*/
  --color-pink: #F1517D;
  --color-blue: rgb(36,96,251);
  --color-purple: #cc33ff;
  --color-gray: #F2F2F2;

  /*fonts*/
  --fonts-mont: "Montserrat", sans-serif;
  --font-rob: 'Roboto', sans-serif;
}
/*#6cdfea  rgba(108,223,234,1)
#e91e63   rgba(233,30,99,1)
#554b49    rgba(85, 75, 73, 1)
*/
body{
  font-family: var(--font-rob);
  font-weight: 300;
  background: url(backptrn.svg);
  /*background-position: center;*/
  background-attachment: fixed;
}
main{
  margin-top: 112px;
}
.behind{
  z-index: 1000;
  height: 100%;

}

 h2{
   font-family: var(--fonts-mont);
   font-weight: 700;
   margin: auto;
   text-align: center;
 }
 h4{
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #554b49;
   }
  h5{
    color: grey;
    font-size: 1rem;
  }

   a{
   color: black !important;
   font-weight: 400;
   }

    a:hover + a:focus{
     text-decoration: none !important;
    }


 .message{
   margin:auto;
 }
nav{
  background-color: #f2f2f2;
}
nav .nav-wrapper{
   height: 50px;
   box-shadow: transparent !important;
   background-color: white;
   /*border-bottom: 1px solid var(--color-purple);*/
   }




.logo{
    /*opacity: 0;*/
  margin-top: 8px;
  max-width: 150px;
  font-family: var(--fonts-mont);;
  font-weight: 300i;
  font-size: 1.5em !important;
  letter-spacing: 0.5em;
  color: black !important;
  animation: 0.5s ease-out 0.5s logo-in;
  transition: letter-spacing 0.5s;
}
.side-nav-fixtop:hover .logo {
    letter-spacing: 0em;
}

@keyframes logo-in {
    0% {
        letter-spacing: -0.7em;
        opacity: 0;
    }
    100% {
        letter-spacing: 0.5em;
        opacity: 1;
    }
}

.btn{
  color: grey;
  background-color: white;
  border: 1px solid var(--color-blue);
  box-shadow: none;
  font-size: 9pt;
}
.btn-new-project{
  color: var(--color-pink);
  border: none;
  border-radius: 0px;
  height: 60px;
  width: 100%;
  background-color: transparent;
  padding: auto;
  font-size: 9pt;
  text-transform: none;
}

.btn:hover{
  color: white;
  background-color: var(--color-pink);
  border: 1px solid var(--color-pink);
}
.btn:focus{
  background-color: var(--color-pink);
  color: white;
}



  .logout{
    float: right;
    padding-right: 30px;
  }
    /* label focus color */
    .input-field input[type=text]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 var(--color-blue);
    }

    /* label focus color */
    .input-field input[type=email]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=email]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 #6cdfea;
    }
    /* label focus color */
    .input-field input[type=password]:focus + label {
    color: var(--color-blue);
    }
    /* label underline focus color */
    .input-field input[type=password]:focus {
    border-bottom: 1px solid var(--color-blue);
    box-shadow: 0 1px 0 0 var(--color-blue);
    }
    .input-field input[type=search]{
    border-bottom: 1px solid gray;
    background-color: transparent;
    display: inline-flex;
    }
    .input-field input[type=search]:focus{
    border-bottom: 1px solid gray;
    background-color: transparent;
    }
    nav .input-field input[type=search] + label i{
      font-size: 1.3rem;
      left: 0rem;
      color: gray;
    }
    .input-field input[type=search] + label {
      left: 0rem;
    }

/*HIDDEN NAV*/
.hidden-nav{
  background-color: white!important;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
  display: flex;
}
.hidden-nav-list{

  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  flex-grow: 1;

}
/*HIDDEN--------------------------------------------------------*/

@media only screen and (min-width:992px) {
  .hide-search{
    display: none;
  }
  .hidden-nav{
    display: none;
  }
  .nav-content{
    padding-left: 242px;
  }
  .logo{
    margin-left: 30px;
    margin-top: 11px;
  }
}

/*SIDE NAV CRAZYNESS--------------------------------------------*/


/*.side-nav {
   top: 45px;
   height: calc(100% - 81px);
   background-color: transparent;
   color: white;
}*/
/*.side-nav-fixtop{
  background-color: white;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-left: 30px;
  border-right: 1px solid black;
}
.side-nav-fixdown{
  background-color: white;
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-right: 1px solid black;
}*/

/*Sign in form-------------------------------------------------------------------*/
.sign-page{
  margin: auto;
  /*max-width: 1000px;*/

}
.at-form{
  max-width: 400px;
  margin:auto;
  padding-top: 70px;
}
.header{
  display: none;
}

.at-btn{
  min-width: 400px !important;
  margin: 0px;
}
.at-signup-link{
  margin: auto;
}
.at-input:nth-of-type(n+2 ){
  display: inline;
}
.at-link{
  font-weight: 400;
}
/*tabs---------------------------------*/
.tabs .indicator {
  background-color: var(--color-blue)!important;
}
nav ul a{
  font-size: 9pt;
  font-weight: 300;
}
nav ul a:hover{
  background-color: var(--color-blue);
  color: white !important;
}

.tabs .tab a{
  font-size: 9pt;
  text-transform: none;
  font: var(--fonts-mont);
  /*color: var(--color-blue)!important;*/
}

.tabs .tab a:hover{
  font-size: 9pt;
  text-transform: none;
  font: var(--fonts-mont)!important;
  font-weight: 400;
  color: var(--color-blue)!important;
}

.tabs{
  background-color: #f2f2f2;
}

/*PROJECT CARDS*/

.colored{
  /*background-color:rgba(233,30,99,1);*/
  background-color:var(--color-pink);
  heignt:2em;
  width:100%;
  font-family: "Roboto";
}

.colored p {
  padding:5px;
  padding-left:1em;
  color:#fff;
}



.title{
  width:90%;
  font-family: "Montserrat";
}

.inside p{
  width:90%;
  font-family: "Montserrat";
  text-align: right;
}


.skills ul{
padding-left:0.5em;
}
.skills{
  border-top:1px solid rgba(233,30,99,1);

  heignt:2em;
  width:100%;
  font-family: "Roboto";
}

.skills ul li {
  font-family: "Montserrat";
  font-size:90%;
  display:inline;
  padding: 0.5em;
  color:lightgrey;
}

.skills ul li span{
  color:rgba(233,30,99,1);
}

.bookmark{
position:relative;
float:right;
top:-0.4em;
right:0.22em;
font-size: 36px;
}
.one-card:hover{
  background-color:lightgrey;
}

.propic{
   /*border-radius: 50%;*/
   height: 200px;
   display: block;
   margin: auto;

}
/*// JAIMES AWEFUL CSS
.banner{
  width:100%;
  height:200px;
  background-color: black;
}

.columnright{
  margin-top: 200px;
}
.sizer{
  padding-bottom: 10%;
}*/
